



h1, h3,p{

    color: #f2f2f2;

}



#brief, p{

    word-wrap: break-word;
    font-size: 30px;
}


.yellow:hover{
    color: #F2C94C;
}

#briefBox{

    width: 600px;

}

#downarrow{

    margin-left: 44%;
}


#staffInfo{

    margin-left: 51%;
}



#trailer{

    margin-top: -32%;
    margin-left: 3%;

}

#hbo{
    color: #F2C94C;
}
#hbo:hover{
    cursor: pointer;
}


#trailb{

    background-color: Transparent;
    border: none;
    width:50px;
    height:50px;
    position:absolute;
    top:140%;
    left:-73%;
    right:0%;
    bottom:0%;
    margin:0 auto;
    background-size:contain;
    background-position: center;
    z-index: 2;
    
    
    

}


#movb{

    background-color: Transparent;
    border: none;
    width:50px;
    height:50px;
    position:absolute;
    left: 0px;
    right:80px;
    top:0px;
    bottom:200px;
    margin:auto;
    background-size:contain;
    background-position: center;
    z-index: 2;
    
    
    

}



#watchNow{

    margin-top: 7px;
    margin-left: 20px;
    font-size: 36px;

}




#usrMovInfo{

    position: absolute;
    margin-left: 20px;
    margin-top: 20px; 

}

#heartBtn{
    position: absolute;
    width: 30px;
    margin-top: 25px;
    margin-left: 20px;
    z-index: 2;
}
#user{
    position: absolute;
    top: 6px;
    left:600px;
    font-size: 30px;
    color: #F2F2F2;
}

#heart{
    width: 41px;

}

#title{
    position: absolute;
    top: 0px;
    color: #F2F2F2;
    font-size: 36px;
    left: 690px;
    width:430px;
}

#wolo123{
    position: absolute;
    white-space: nowrap; 
    width: 220px;
    text-overflow: ellipsis; 
    overflow: hidden;
    top:310px;
    font-size: 30px;
    color: #F2F2F2;
}

#wolo123:hover{
    color: #F2C94C;
}

#wolo321{
    position: absolute;
    top:360px;
    font-size: 20px;
    color: #F2F2F2;
}

#wolo111{
    position: absolute;
    top:360px;
    margin-left:180px;
    font-size: 20px;
    color: #6FCF97;
}

#similar{
    margin-top: -6%;
    margin-bottom: 9%;
    font-size: 48px;
}




button{
    cursor: pointer;
    background: transparent;
    border: none;
}


button:focus{

    outline: 0;
}





.cover {
    width: 190px;
    height: 264px;
    float: left;
    margin-bottom: 78px;
}
.cover:hover{
    border: 2px solid #F2C94C;
}


.coverDown {
    width: 220px;
    height: 292px;
    float: left;
    margin-bottom: 78px;
}

.coverDown:hover{
    border: 2px solid #F2C94C;
}

.mediaPlayer{

    width: 600px; 
    
}


.moviePlayer{

    margin-top: 10px;
    margin-left: 20px;
}






.videoPlayButton:focus{
    outline:0;
}




.playerContainer{


    
    height: 870px;
    background-color: #212121;
    margin-bottom: 10%;

}


.description p{

    margin-top: 5%;
    color: #f2f2f2;
    font-size: 20px;
 

}

.grey{

    color: #bdbdbd;
}




.rating{
    font-size: 5px;

}



.date{

    margin-bottom: 5%;
    margin-top: -1%
}

#starPos{
    position: absolute;
    left: 1500px;
}

 
.star{

    margin-top: -3%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
  
}
.rating button:focus{
    outline: none;
}

.rating img:hover{
        cursor: pointer;
}



.date{

    margin-bottom: 5%;
    margin-top: -1%
}















.topMar5per{

    margin-top: 5%;
}

.topMar10{

    margin-top: 10px;
}


.cover1{
    width: 100px;
    height: 292px;
    float: left;
}
.blurr3{
    position: absolute;
    width: 75px;
    height:400px;
    top:-130px;
    left:96%;
    filter:blur(9px);
    opacity: 1;
    z-index:1;
}






   
#wrapper  form, p, span {
    z-index: 0;

    margin:0;
    padding:0; 
    color: #f2f2f2;}
  
input { 
    z-index: 6;
    font:22px arial; 
}

a{
    outline:none;
}
  
#wrapper a {

    color:#2A343D;
    text-decoration:none; }
  
   #wrapper> a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    z-index: 1;

    position: absolute;
    top: -15px;
    left:67px;
    margin:0 auto;
    padding-bottom:0px;
    background:#191919;
    width:683px;
    border:0px solid #2A343D; }
  


#wrapper{
    margin-top: 10%;
}

  
#chatbox {
    
    font-size: 10px;
    text-align:left;
    margin:0 auto;
    margin-bottom:24px;
    margin-left: 10px;
    padding:0px;
    background:#191919;
    height:500px;
    width:630px;
    
    overflow:auto; 
    color: #f2f2f2}
  
#usermsg {
    width:422px;
    height:50px;
    border:1px solid #2A343D;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 10px;
    margin-top: -10px;
 }
  
#submit {
     width: 60px;
      
}
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
#sendBack{
    
    display: block;
    position: absolute;
    top: 522px;
    left: 0px;
    width: 682px;
    height: 83px;
    z-index: -1;
}
 
a href:hover{
    text-decoration: none !important;

}

.msgln { margin:0 0 2px 0; }

#chatArea{

    color: #F2F2F2;
    font-size: 20px;
}

#leHr{
    position: absolute;
    top:543px;
    display: block;
    height: 1px;
    border: 0;
    right: 0;
    width: 100%;
    border-top: 2px solid #f2f2f2;
    margin-top: -20px;
    padding: 0;
}

#gif{
    position: absolute;
    top: 557px;
    left: 510px;
    width: 40px;
    height: 20px;
}

#tag{
    position: absolute;
    top: 554px;
    left: 575px;
    width: 25px;
    height: 25px;
}

#cog{
    position: absolute;
    top: 554px;
    left: 630px;
    width: 25px;
    height: 25px;
}


#gif:hover{
    cursor: pointer;
}

#tag:hover{
   cursor: pointer;
}

#cog:hover{
    cursor: pointer;
}



#darkhour{
    position: absolute;
    top: 1275px;
    left: 30px;
    width: 600px;
    height: 337px;
}

#live{
    position: absolute;
    left:490px;
    top: 25px;
}