



h1, h3,p{

    color: white;

}



#brief, p{

    word-wrap: break-word;
    font-size: 30px;
}

#briefBox{

    width: 600px;

}

#downarrow{

    margin-left: 44%;
}


#staffInfo{

    margin-left: 51%;
}


#trailer{

    margin-top: -32%;
    margin-left: 3%;

}





button{

    background: transparent;
    border: none;
}


.mediaPlayer{

    width: 600px; 
    margin: auto;
}


.moviePlayer{

    margin-top: 50px;

}





.videoPlayButton{

    background-color: Transparent;
    border: none;
    width:50px;
    height:50px;
    position:absolute;
    left:0%;
    right:70%;
    top:-27%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
    z-index: 2;
    

}

.videoPlayButton:focus{
    outline:0;
}




.playerContainer{


    
    height: 500px;
    background-color: #212121;
    margin-bottom: 10%;

}


.description p{

    margin-top: 5%;
    color: white;
    font-size: 20px;
 

}

.grey{

    color: #bdbdbd;
}


















.topMar5per{

    margin-top: 5%;
}

.topMar10{

    margin-top: 10px;
}










